.CreatePage{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: #04cfcf; */
  width: 100%;
  height: 100%;
  right: 0px;
}

.MapChoose{
  width: 90%;
  height: 30vh;
  /* background-color: aqua; */
  position: relative;
  margin-top: 2.5%;
  margin-left: 5%;
  font-size: 32px;
  user-select: none;
}

#mapChooseWrapper{
  position: relative;
  width: 100%;
  height: 100%;
  /* bottom: 0px; */
  left: 0px;

  /* background-color: antiquewhite; */
  display: -webkit-inline-box;
  overflow-x: auto;
  scrollbar-color: #4d4d4d #e1ebe100;
}
.MapBlock{
  position: relative;
  background-color: #C24E4E;
  height: 70%;
  margin-top: 3%;
  width: 35vh;
  margin-left: 3%;
  display: block;
}
.MapNameWrap{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.315);
  transition: .3s;
  display: none;
  transition: .3s;
}
.MapBlock:hover>.MapNameWrap{
  display: block;
  transition: .3s;
}
.MapName{
  position: absolute;
  text-align:center;
  color: #000000;
  bottom: -10%;
  width: 100%;
  opacity: 1;
}

.VehicleBuild{
  width: 100%;
  height: 40vh;
  position: relative;
  margin-top: 2.5%;
  font-size: 32px;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.VehicleBuildPreview{
  position: relative;
  width: 50vh;
  height: 100%;
  /* background-color: rgb(133, 153, 126); */
  /* backdrop-filter: blur(10px); */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: url(../Pictures/pixelback.png);
}
.ButtonsWrap{
  position: relative;
  width: 50%;
  /* left: 25%; */
  height: 7vh;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SmallButton{
  position: relative;
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
  background-color: rgb(173, 236, 113);
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-family: 'Snowstorm', sans-serif;
}
.SmallButton:hover{
  background-color: rgb(122, 211, 38);
}


.RoomsList{
  margin-top: 2.5%;
  margin-left: calc(50% - 27.5vw);
  position: relative;
  display: block;
  overflow-y: auto;
  background-color: rgba(108, 153, 143, 0.712);
  height: 30vh;
  width: 55vw;
  border-radius: 20px;
  background-image: url(../Pictures/pixelback.png);
}
.RoomsList>div{
  position: relative;
  display: block;
  border: solid 4px rgb(27, 27, 27);
  /* border-radius: 10%; */
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 4%;
  height: 32px;
  color: whitesmoke;

  font-family: 'Snowstrom', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  
  background-image: url(../Pictures/tierRotated.png);
  /* border-radius: 8%; */
}
.JoinButton{
  position: absolute;
  /* right: 2%; */
  top: 0;
  left: 0;
  /* background-color: green;  */
  width: 100%; 
  height: 100%;
  transition: .1s;
}
.JoinButton:hover{
  background-color: rgba(255, 255, 255, 0.205);
}