.LeftSideMenu{
  display: inline-block;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 25%;
  background-color: #7c7c7c;
}

.UserPreview{
  display: flex;
  width: 30vh;
  height: 10vh;
  background-color: #D9D9D9;
  margin-left: 5%;
  margin-top: 15%;
  align-items: center;
}

.Icon{
  width: 6vh;
  height: 6vh;
  position: relative;
  background-color: crimson;
  border-radius: 50%;
  margin-left: 5%;
}

.Button{
  position: relative;
  width: 25vh;
  height: 9vh;
  background-color: #D9D9D9;
  margin-left: 5%;
  margin-top: 15%;
  align-items: center;
  border: 2px solid;
}
.Button:hover{
  border: 2px solid;
  border-color: aqua;
}

.CreatePage{
  display: block;
  position: absolute;
  top: 0px;
  background-color: #04cfcf;
  width: 75%;
  height: 100%;
  right: 0px;
}